<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add Route page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <form class="form-horizontal" role="form" method="POST" th:action="@{/addRoute}" th:object="${route}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Add New Route</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="startlocation">Start Location</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-flag"></i></div>
                        <input type="text" th:field="*{startlocation}" class="form-control" id="startlocation"
                               placeholder="Start Location" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="dropofflocation">Drop off Location</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-flag-checkered"></i></div>
                        <input type="text" th:field="*{dropofflocation}" class="form-control" id="dropofflocation"
                               placeholder="Drop Off Location" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="rate">Rate</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-dollar"></i></div>
                        <input type="number" th:field="*{rate}" class="form-control" id="rate"
                               placeholder="$00.00" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="rate">Days</label>
            </div>
            <form method="get" action="/updateVehicleList">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></div>
                            <ul class="form-control" th:each="checkboxValue: ${dayList}">
                                    <input class=form-check-input type="checkbox" th:name="days" th:value="${checkboxValue}"/>
                                    <label th:text="${checkboxValue}"></label>
                            </ul>
                    </div>

                </div>
                <button type="submit" class="btn btn-success"><i class="fa fa-minus"></i> Update Vehicles</button>
            </div>
            </form>
        </div>

<!--        <div class="row">-->
<!--            <div class="col-md-3 field-label-responsive">-->
<!--                <label for="passengercapacity">Passenger Capacity</label>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <div class="form-group">-->
<!--                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">-->
<!--                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-users"></i></div>-->
<!--                        <input type="number" th:field="*{passengercapacity}" class="form-control" id="passengercapacity"-->
<!--                               placeholder="Enter the Car Capacity" required autofocus>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Find Vehicles</button>
            </div>
        </div>
    </form>
</div>
</body>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>Add Route</title>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
    <!--<h2>Hi <span th:utext="${userName}"></span>, this is the addRoute page.</h2>-->
        <!--<form class="form-horizontal" role="form" method="POST" th:action="addRoute" th:objects="${route}">-->
            <!--<div class="row">-->
                <!--<div class="col-md-3"></div>-->
                <!--<div class="col-md-6">-->
                    <!--<div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-3"></div>-->
                <!--<div class="col-md-6">-->
                    <!--<h2>Add a New Route</h2>-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
           <!--<div class="row">-->
                <!--<div class="col-md-3 field-label-responsive">-->
                    <!--<label for="startlocation">Start Location</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0">-->
                            <!--<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-route"></i></div>-->
                            <!--<input type="text" th:field="*{startlocation}" class="form-control" id="startlocation"-->
                                   <!--placeholder="Start Location" required autofocus>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-3 field-label-responsive">-->
                    <!--<label for="dropofflocation">Drop Off Location</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0">-->
                            <!--<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-route"></i></div>-->
                            <!--<input type="text" th:field="*{dropofflocation}" class="form-control" id="dropofflocation"-->
                                   <!--placeholder="Drop Off Location" required autofocus>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-3 field-label-responsive">-->
                    <!--<label for="rate">Rate</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0">-->
                            <!--<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-route"></i></div>-->
                            <!--<input type="number" th:field="*{rate}" class="form-control" id="rate"-->
                                   <!--placeholder="Rate" required autofocus>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-3"></div>-->
                <!--<div class="col-md-6">-->
                    <!--<button type="submit" class="btn btn-success"><i class="fa fa-route-plus"></i> Add</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->