<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <form class="form-horizontal" role="form" method="POST" th:action="@{/findVehicle}">
        <div>
            <h2>Vehicle List</h2>
            <table class="table table-striped">
                <tr>

                    <div th:each="day : ${dayList}" th:type="hidden">
                        <div><input name="dayList" th:value="${day}" type="hidden"></div>
                    </div>

                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>


                </tr>
                <tr th:each="vehicle : ${vehicleList}">
                    <td><input type="radio" th:name="vehicle" th:value="${vehicle.vehicleId}"/></td>
                    <td th:text="${vehicle.type}"></td>
                    <td th:text="${vehicle.capacity}"></td>
                    <td th:text="${vehicle.sunday}"></td>
                    <td th:text="${vehicle.monday}"></td>
                    <td th:text="${vehicle.tuesday}"></td>
                    <td th:text="${vehicle.wednesday}"></td>
                    <td th:text="${vehicle.thursday}"></td>
                    <td th:text="${vehicle.friday}"></td>
                    <td th:text="${vehicle.saturday}"></td>

                </tr>
            </table>
        </div>
        <input type="hidden" class="form-control" id="routeid" th:field="*{route.routeid}">
        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Update Vehicles</button>
    </form>
</div>
</body>
</html>