<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <title>Sign in</title>-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">-->
<!--</head>-->
<!--<head>-->
<!--    <title>Forgot Password</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4 col-md-offset-4">-->
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-body">-->
<!--                    <div class="text-center">-->
<!--                        <h3><i class="glyphicon glyphicon-lock" style="font-size:2em;"></i></h3>-->
<!--                        <h2 class="text-center">Forgot Password?</h2>-->
<!--                        <p>Enter your e-mail address and we'll send you a link to reset your password.</p>-->
<!--                        <div class="panel-body">-->

<!--                            <div th:if="${param.success}">-->
<!--                                <div class="alert alert-info">-->
<!--                                    You've successfully requested a new password reset!-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post">-->
<!--                                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">-->
<!--                                    <div class="input-group">-->
<!--                                        <span class="input-group-addon">-->
<!--                                            <i class="glyphicon glyphicon-envelope color-blue"></i>-->
<!--                                        </span>-->
<!--                                        <input id="email"-->
<!--                                               class="form-control"-->
<!--                                               placeholder="email address"-->
<!--                                               th:field="*{email}"/>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <ul class="text-danger" th:each="error: ${#fields.errors('email')}">-->
<!--                                            <li th:each="message : ${error.split(',')}">-->
<!--                                                <p class="error-message" th:text="${message}"></p>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <button type="submit" class="btn btn-success btn-block" name="action" value="email">Reset Password using Email</button>-->
<!--                                    <button type="submit" class="btn btn-success btn-block" name="action" value="questions">Reset Password using Security Questions</button>-->

<!--                                </div>-->
<!--                            </form>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    New user? <a href="/" th:href="@{/signup}">Register</a>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    Already registered? <a href="/" th:href="@{/login}">Login</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forgot Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link th:href="@{css/style.css}" href="../../static/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/></head>
</head>
<head>
    <title>Forgot Password</title>
</head>

<body>
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You've successfully requested a new password reset!
                        </div>
                    </div>

                    <i
                            class="fa fa-lock"
                            aria-hidden="true"></i> Forgot Password
                </h3>
                <p>Enter your account Email.</p>
            </div>
        </div>
        <form class="login-form" method="post" th:action="@{/forgot-password}" th:object="${forgotPasswordForm}">
            <!--            <input type="text" placeholder="username"/>-->
            <input id="email"
                   class="form-control"
                   placeholder="email address"
                   th:field="*{email}"/>

                <div>
                    <ul class="text-danger" th:each="error: ${#fields.errors('email')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

            <!--            <input type="password" placeholder="password"/>-->
            <button type="submit" class="btn btn-success btn-block" name="action" value="email">Send Email</button>
            <button type="submit" class="btn btn-success btn-block" name="action" value="questions">Answer Security Questions</button>

            <p class="message">Not registered? <a th:href="@{/signup}">Create an account</a></p>
            <p class="message">Want to Login? <a th:href="@{/login}">Login</a></p>

        </form>
    </div>
</div>



</body>
</html>