<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password Recovery</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link th:href="@{css/style.css}" href="../../static/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/></head>



<body>
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            You have answered one of the questions incorrectly!
                        </div>
                    </div>
                    <i
                            class="fa fa-lock"
                            aria-hidden="true"></i>Answer Security Questions
                </h3>
                <p>Please answer the questions accordingly.</p>
            </div>
        </div>
        <form class="login-form" method="POST" th:action="@{/forgot-questions}" th:object="${forgotDto}">

            <input type="hidden" class="form-control" th:field="*{email}">
            <input type="hidden" class="form-control" th:field="*{token}">

            <h4>Question 1:  <span th:utext="${questionOne}"></span></h4>
            <input type="text" id="answerOne" class="form-control" th:field="*{questionOneAnswer}" placeholder="Type Answer Here" />

            <h4>Question 2:  <span th:utext="${questionTwo}"></span></h4>
            <input type="text" id="answerTwo" class="form-control" th:field="*{questionTwoAnswer}" placeholder="Type Answer Here" />

            <h4>Question 3:  <span th:utext="${questionThree}"></span></h4>
            <input type="text" id="answerThree" class="form-control" th:field="*{questionThreeAnswer}" placeholder="Type Answer Here" />


            <button type="submit" id="recover" class="btn btn-primary login-btn btn-block">Submit</button>
            <p class="message">Remembered your password? <a th:href="@{/login}">Login</a></p>
            <p class="message">Not registered? <a th:href="@{/signup}">Create an account</a></p>
            <p class="message">Forgot Password? <a th:href="@{/forgot-password}">Change Password</a></p>

        </form>
    </div>
</div>



</body>
</html>