<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link th:href="@{css/style.css}" href="../../static/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/></head>

    <title>Reset Password</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Incorrect email or password!
                        </div>
                    </div>
                    <i
                            class="fa fa-lock"
                            aria-hidden="true"></i> Reset Password
                </h3>
                <p>Type in your new password.</p>
            </div>
        </div>
        <form class="login-form" th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">

            <p class="error-message"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error</p>

            <input type="hidden" name="token" th:value="${token}"/>
            <input id="password"
                   class="form-control"
                   placeholder="Password"
                   type="password"
                   th:field="*{password}"/>

            <input id="confirmPassword"
                   class="form-control"
                   placeholder="Confirm password"
                   type="password"
                   th:field="*{confirmPassword}"/>

            <ul class="aler alert-danger" th:each="error: ${#fields.errors('password')}">
                <li th:each="message : ${error.split(',')}">
                    <p class="error-message" th:text="${message}"></p>
                </li>
            </ul>

            <button type="submit" id="reset" class="btn btn-block btn-success">Reset password</button>
            <p class="message">Not registered? <a th:href="@{/signup}">Create an account</a></p>
            <p class="message">Want to Login? <a th:href="@{/login}">Login</a></p>

        </form>
    </div>
</div>



</body>
</html>