
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link th:href="@{css/style.css}" href="../../static/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/></head>

<body>
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                </div>
                        Register New User
                </h3>
                <p>Please fill in the form below.</p>
            </div>
        </div>
        <form class="login-form" role="form" method="POST" th:action="@{/signup}" th:object="${user}">

            <input type="text" name="firstname" th:field="*{firstname}" class="form-control" id="firstname"
                   placeholder="First Name" required autofocus>

            <input type="text" name="lastname" th:field="*{lastname}" class="form-control" id="lastname"
                   placeholder="Last name" required>

            <input type="text" name="email" th:field="*{email}" class="form-control" id="email"
                   placeholder="username@gmail.com" required>

            <div class="form-control-feedback">
                 <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                 </span>
            </div>

            <input type="password" name="password" th:field="*{password}" class="form-control" id="password" pattern=".{8,}"
                   placeholder="Password" required>

            <input type="password" name="confirmPassword" th:field="*{confirmPassword}" class="form-control" id="confirmPassword" pattern=".{8,}"
                   placeholder="Confirm Password" required>

            <div>
                <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
                <li th:each="message : ${error.split(',')}">
                    <p class="error-message" th:text="${message}"></p>
                </li>
                </ul>
            </div>

            <label>Driver   <input type="radio" id="Driver" th:field="*{role}" th:value="Driver"></label>
            <label>Rider    <input type="radio" id="Rider" th:field="*{role}" th:value="Rider"></label>
            <label>Admin    <input type="radio" id="Admin" th:field="*{role}" th:value="Admin"></label>

            <div>
                <ul class="text-danger" th:each="error: ${#fields.errors('role')}">
                    <li th:each="message : ${error.split(',')}">
                        <p class="error-message" th:text="${message}"></p>
                    </li>
                </ul>
            </div>

            <select class="form-control" id="questionOne" name="questionOne">
                <option selected="selected">What city you were born in?</option>
                <option>What was your first pet?</option>
                <option>What was your first pets name?</option>
                <option>What is your favorite book?</option>
                <option>What is your favorite food?</option>
                <option>What is your favorite movie?</option>
                <option>What is your Mothers maiden name?</option>
            </select>


            <input type="text" name="answerOne" th:field="*{answerOne}" class="form-control" id="answer"
                   placeholder="Type your answer here" required>

            <select class="form-control" id="questionTwo" name="questionTwo">
                <option>What city you were born in?</option>
                <option>What was your first pet?</option>
                <option>What was your first pets name?</option>
                <option>What is your favorite book?</option>
                <option selected="selected">What is your favorite food?</option>
                <option>What is your favorite movie?</option>
                <option>What is your Mothers maiden name?</option>
            </select>

            <input type="text" name="answerTwo" th:field="*{answerTwo}" class="form-control" id="answerTwo"
                   placeholder="Type your answer here" required>

            <select class="form-control" id="QuestionThree" name="QuestionThree">
                <option>What city you were born in?</option>
                <option>What was your first pet?</option>
                <option selected="selected">What was your first pets name?</option>
                <option>What is your favorite book?</option>
                <option>What is your favorite food?</option>
                <option>What is your favorite movie?</option>
                <option>What is your Mothers maiden name?</option>
            </select>

            <input type="text" name="answerThree" th:field="*{answerThree}" class="form-control" id="answerThree"
                   placeholder="Type your answer here" required>


            <button type="submit" name="Register" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
            <p class="message">Already Registered? <a th:href="@{/login}">Login</a></p>
            <p class="message">Forgot Password? <a th:href="@{/forgot-password}">Change Password</a></p>

        </form>
    </div>
</div>



</body>
</html>