<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <h2>Hi <span th:utext="${userName}"></span>, this is the Admin page.</h2>
    <div>
        <h2>Route List</h2>
        <table class="table table-striped">
            <tr>
                <th> </th>
                <th>Start Location</th>
                <th>Drop off Location</th>
                <th>Number of Passengers</th>
                <th>Capacity of Vehicle</th>
                <th>Rate</th>
                <th>Active?</th>

            </tr>
            <form method="get" action="/deleteRoute">
            <tr th:each="routes : ${routeList}">
                <td><input type="checkbox" th:name="routes" th:value="${routes.routeid}"/></td>
                <td th:text="${routes.startlocation}"></td>
                <td th:text="${routes.dropofflocation}"></td>
                <td th:text="${routes.numberofpassengers}"></td>
                <td th:text="${routes.passengercapacity}"></td>
                <td th:text="${routes.rate}"></td>
                <td th:text="${routes.active}"></td>


            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-minus"></i> Delete Route</button>
            </form>
            <form method="get" action="/addRoute">
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Route</button>
            </form>
        </div>
    </div>
    <form method="get" action="/addVehicle">
        <div>
            <h2>Vehicle List</h2>
            <table class="table table-striped">
                <tr>
<!--                    <th> </th>-->
                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>


                </tr>
                <tr th:each="vehicle : ${vehicleList}">
<!--                        <td><input type="checkbox" th:name="routes" th:value="${routes.routeid}"/></td>-->
                        <td th:text="${vehicle.type}"></td>
                        <td th:text="${vehicle.capacity}"></td>
                        <td th:text="${vehicle.sunday}"></td>
                        <td th:text="${vehicle.monday}"></td>
                        <td th:text="${vehicle.tuesday}"></td>
                        <td th:text="${vehicle.wednesday}"></td>
                        <td th:text="${vehicle.thursday}"></td>
                        <td th:text="${vehicle.friday}"></td>
                        <td th:text="${vehicle.saturday}"></td>

                </tr>
            </table>
        </div>

        <div class="form-group row">
            <select class="form-control" id="vehicleType" name="vehicleType">
                <option th:each="type : ${vehicleTypes}"
                        th:value="${type}"
                        th:text="${type}"
                ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Vehicle</button>
    </form>
    <a th:href="@{/logout}">Sign out</a>
</div>
</body>
</html>