<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rider Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <h2>Hi <span th:utext="${userName}"></span>, this is the Driver page.</h2>
    <div>
        <h2>Route List</h2>
        <table class="table table-striped">
            <tr>
                <th> </th>
                <th>driver ID</th>
                <th>Start Location</th>
                <th>Drop off Location</th>
                <th>Capacity of Vehicle</th>
                <th colspan="7" style="text-align: center; vertical-align: middle;">Days</th>

            </tr>
            <form method="get" action="/signUpDriverRoute">
                <tr th:each="routes, stat : ${routeList}">
                    <td><input type="checkbox" th:name="routes" th:value="${routes.routeid}"/></td>
                    <td th:text="${routes.driverid}"></td>
                    <td th:text="${routes.startlocation}"></td>
                    <td th:text="${routes.dropofflocation}"></td>
                    <td th:text="${routes.passengercapacity}"></td>
                    <td th:if="${routes.sunday}">Sunday</td>
                    <td th:if="${routes.monday}">Monday</td>
                    <td th:if="${routes.tuesday}">Tuesday</td>
                    <td th:if="${routes.wednesday}">Wednesday</td>
                    <td th:if="${routes.thursday}">Thursday</td>
                    <td th:if="${routes.friday}">Friday</td>
                    <td th:if="${routes.saturday}">Saturday</td>
                    <td colspan="7"></td>



                </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form method="get" action="/signUpDriverRoute">
            <button type="submit" class="btn btn-success"><i class="fa fa-add"></i> Sign Up Route</button>
            </form>
        </div>
    </div>


    <div>
        <h2>My Routes List</h2>
        <table class="table table-striped">
            <tr>
                <th> </th>
                <th>driver ID</th>
                <th>Start Location</th>
                <th>Drop off Location</th>
                <th>Capacity of Vehicle</th>
                <th colspan="7" style="text-align: center; vertical-align: middle;">Days</th>

            </tr>
            <form method="get" action="/endRoute">
                <tr th:each="routes, stat : ${myRoutes}">
                    <td><input type="checkbox" th:name="routes" th:value="${routes.routeid}"/></td>
                    <td th:text="${routes.driverid}"></td>
                    <td th:text="${routes.startlocation}"></td>
                    <td th:text="${routes.dropofflocation}"></td>
                    <td th:text="${routes.passengercapacity}"></td>
                    <td th:if="${routes.sunday}">Sunday</td>
                    <td th:if="${routes.monday}">Monday</td>
                    <td th:if="${routes.tuesday}">Tuesday</td>
                    <td th:if="${routes.wednesday}">Wednesday</td>
                    <td th:if="${routes.thursday}">Thursday</td>
                    <td th:if="${routes.friday}">Friday</td>
                    <td th:if="${routes.saturday}">Saturday</td>
                    <td colspan="7"></td>
                </tr>
        </table>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <form method="get" action="/endRoute">
                    <button type="submit" class="btn btn-success"><i class="fa fa-add"></i> Leave Route</button>
                </form>
            </div>
        </div>

    </div>
    <a th:href="@{/logout}">Sign out</a>

</div>
</body>
</html>