<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AdminHome</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">

    <h2>Hi <span th:utext="${userName}"></span>, this is the Rider page.</h2>

    <p>Select a route to ride:</p>
    <form th:action="@{/payment}" method="post" >
    <div>
        <input type="radio" id="route1" name="route" value="route1"
               checked>
        <label for="route1">Iowa City to Cedar Rapids</label>
    </div>

    <div>
        <input type="radio" id="route2" name="route" value="route2">
        <label for="route2">Iowa City to Coralville</label>
    </div>

    <div>
        <input type="radio" id="route3" name="route" value="route3">
        <label for="route3">Cedar Rapids to Iowa City</label>
    </div>

    <label for="Drop-OffLocation" class="sr-only">Drop-Off Location</label>
    <input type="Drop-OffLocation" id="Drop-OffLocation" name="Drop-OffLocation" class="form-control" placeholder="Drop-Off Location" required autofocus>

    <div>
        <button type="select">Select</button>
    </div>
    </form>
    <a th:href="@{/logout}">Sign out</a>
    </div>
</body>
</html>